<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Registro de Usuarios</title>
</head>

<body>
  <h1>Registro de Usuarios</h1>
  <% if (inUse) { %>
  <script>
    alert('Email ya registrado, intente nuevamente...');
  </script>
  <% } %>
  <form method="POST" action="http://localhost:8080/session/signup">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="age">Edad:</label>
      <input type="number" id="age" name="age" required>
    </div>
    <div>
      <label for="telephone">Número de teléfono:</label>
      <input type="tel" id="telephone" name="telephone">
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <label for="photo">Foto de perfil:</label>
      <input type="file" id="photo" name="photo" accept="image/*" required>
    </div>
    <button type="submit">Registrarse</button>
  </form>
  <div>
    <span>¿Ya estás registrado?</span>
    <a href="/session/login">Inicia sesión</a>
  </div>
</body>

</html>